@page "/interop"
@inject IJSRuntime _jsRuntime
@inject IServiceProvider ServiceProvider

@code {

    private JsInteropInvoker _interopInvoker;

    protected override async Task OnInitializedAsync()
    {
        _interopInvoker = new JsInteropInvoker(ServiceProvider);
        await _jsRuntime.InvokeVoidAsync("initializeDotNetReference", DotNetObjectReference.Create(_interopInvoker));
    }
}


<PageScript>
    <script>

        // window.onload
        document.addEventListener("BlazorPageLoaded", function () {

            // message
            document.getElementById('message').innerHTML += 'BlazorPageLoaded<br>';
        }, { once: true });
    </script>
</PageScript>

<h3>Interop</h3>

<button class="btn btn-primary" id="runScript" onclick="callDotNetMethodFromJS()">Run Interop</button>

<br />
<br />
<br />
<p id="message"></p>