@page "/interop"
@code {

    
}


<PageScript>
    <script>

        function runScript() {
            alert("Hello World");
        }

        // window.onload
        document.addEventListener("BlazorPageLoaded", function () {

            // message
            document.getElementById('message').innerHTML += 'BlazorPageLoaded<br>';
        }, { once: true });
    </script>
</PageScript>

<h3>Interop</h3>

<button class="btn btn-primary" id="runScript" onclick="runScript()">Run Script</button>

<br />
<br />
<br />
<p id="message"></p>