@page "/"
@code {

}


<HeadScript>
    <script>

        // window.onload
        document.addEventListener("BlazorPageLoaded", function () {
            alert("BlazorPageLoaded");
        }, { once: true });
    </script>
</HeadScript>

<h1>Hello, world!</h1>

Welcome to your new app.