@page "/"
@code {

}


<HeadScript>
    <script>

        // window.onload
        document.addEventListener("BlazorPageLoaded", function () {

            // message
            document.getElementById('message').innerHTML += 'BlazorPageLoaded<br>';
        }, { once: true });
    </script>
</HeadScript>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />
<br />
<p id="message"></p>