@page "/"
@code {

    // Fields
    [Inject]
    public MessageService _messageService { get; set; }

    [Inject]
    public IJSRuntime _jsRuntime { get; set; }


    // Constructors
    protected override void OnInitialized()
    {

    }


    // Methods
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("eval", "document.dispatchEvent(new Event('DOMContentLoaded'));");
    }
}


<!-- content -->

<HeadContent>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            alert("DOMContentLoaded");
        }, { once: true });
    </script>
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.
